body {
    font-family: Poppins, sans-serif;
    background-color: rgb(71, 167, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@media only screen and (max-width: 1024px) {
    body {
      width: 100%;
max-width: 100%;
    }
  }
  
